# Exploratory Analysis

In [4]:
# IMPORT LIBRARIES
try:
    # PYSPARK
    from pyspark.sql import SparkSession
    from pyspark import SparkContext
    from pyspark.sql import SQLContext
    from pyspark.sql import DataFrame
    import pyspark.sql.types as tp
    import pyspark.sql.functions as F
    
    #Py Spark ML Libraries
    from pyspark.ml.classification import LogisticRegression
    from pyspark.ml.regression import LinearRegression
    from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, StandardScaler
    from pyspark.ml import Pipeline
    from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, CrossValidatorModel
    
    # OTHER LIBRARIES
    import pandas as pd
    import numpy as np
    import glob
    from functools import reduce
    import seaborn as sns
    import matplotlib.pyplot as plt
    from urllib.request import urlopen
    import datetime
    from pathlib import Path
    
    print('[SUCCESS]')

    #CATCH ERROR IMPORTING A LIBRARY
except ImportError as ie:
    raise ImportError(f'[Error importing]: {ie}')

[SUCCESS]

In [5]:
'''
INITIALIZING SPARK SESSION
- NAME IS SET FOR SPARK SESSION WHEN RUNNING ON LOCAL HOST
'''
spark = SparkSession.builder.master('local').config("spark.executor.memory", "1g").config("spark.driver.memory", "2g").appName('UsedCar_Project').getOrCreate()
print('[SUCCESSFULLY RUNNING SPARK SESSION]')

[SUCCESSFULLY RUNNING SPARK SESSION]

## Load Data

In [6]:
def load_data():
    '''
    car_prices.csv is uploaded to a google bucket for public use. Since file is too large to push to GitHub for others to use from repo
    this function will load the data from the google bucket.
    
    You can run this function each time and it will not download a new dataset each time since the first time you run it, it will download locally to your directory.
    --- unless you delete it each time
    
    Function will check to make sure file is in the directory
    - if it is, load it to a spark dataframe
    - if it is not, download it, then load it to a spark dataframe
    
    SCHEMA:
    - Created a schema to make sure the data types for the file being read is kept
    
    
    Drop Randome Values in state columns
    
    
    WARNING: TO USE THIS FUNCTION, YOU HAVE TO BE RUNNING JUPYTER NOTEBOOK ON A LINUX SERVER (USE DOCKER)
    
    NOTES:
    option("header",True).option("inferSchema", True)
    '''
    
    # CHECKS TO SEE IF FILE EXIST
    path = Path('car_prices.csv') 
    
    # IF FILE DOES NOT EXIST
    if not path.is_file():
        !wget https://storage.googleapis.com/iamangelsh-public-datasets/car_prices.csv 
    
    
    
    # CREATE SCHEMA TO KEEP DATA TYPES
    schema = tp.StructType([tp.StructField('year', tp.IntegerType(), True),
                           tp.StructField('make', tp.StringType(), True),
                           tp.StructField('model', tp.StringType(), True),
                           tp.StructField('trim', tp.StringType(), True),
                           tp.StructField('body', tp.StringType(), True),
                           tp.StructField('transmission', tp.StringType(), True),
                           tp.StructField('vin', tp.StringType(), True),
                           tp.StructField('state', tp.StringType(), True),
                           tp.StructField('condition', tp.DoubleType(), True),
                           tp.StructField('odometer', tp.DoubleType(), True),
                           tp.StructField('color', tp.StringType(), True),
                           tp.StructField('interior', tp.StringType(), True),
                           tp.StructField('seller', tp.StringType(), True),
                           tp.StructField('mmr', tp.IntegerType(), True),
                           tp.StructField('sellingprice', tp.IntegerType(), True),
                           tp.StructField('saledate', tp.StringType(), True)])
    
    
    # LOAD IN DATA WITH SCHEMA
    df = spark.read.csv("car_prices.csv", header = True, sep=",", schema=schema)
    
    # FILTER OUT VIN NUMBERS FROM STATE COLUMN
    df = df.where(F.length(F.col("state")) <= 2)
    
    # DROP ROWS THAT CONTAIN NULL VALUES
    df = df.na.drop('any')
    
    # CREATE THRESHOLD FOR CONDITION COLUMN
    df = df.withColumn(
        'condition', 
        F.when(df.condition > 3.75, 'Great'
        ).when((df.condition >= 2) & (df.condition <= 3.75), 'Average'
        ).when(df.condition < 2, 'Bad'))
    
    # DROP COLUMNS THAT WON'T BE USED
    cols = ('trim', 'vin', 'interior', 'seller')
    df = df.drop(*cols)
    
    
    # USE MM DD YYYY FOR SALEDATE COLUMN
    df = df.withColumn(
        'saledate', F.substring('saledate', 5,11)
        ).withColumn(
        'saledate_year', F.substring('saledate', 7,5)
        ).withColumn(
        'saledate_month', F.substring('saledate', 1,3))
    
    df = df.withColumn(
        'saledate_year', F.col('saledate_year').cast(tp.IntegerType())
        )
    
    # RETURN NEW DATAFRAME
    return df


# LOAD THE DATA
df = load_data()

# SHOW DATA
df.show(5)

# SHOW NUMBER OF COLUMNS AND ROWS
print(f'Number of columns: {len(df.columns)} \nNumber of Rows: {df.count()}')
print()

# SHOW SCHEMA - DATATYPES
df.printSchema()

+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|year| make|              model| body|transmission|state|condition|odometer|color|  mmr|sellingprice|   saledate|saledate_year|saledate_month|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great| 16639.0|white|20500|       21500|Dec 16 2014|         2014|           Dec|
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great|  9393.0|white|20800|       21500|Dec 16 2014|         2014|           Dec|
|2014|  BMW|           3 Series|Sedan|   automatic|   ca|    Great|  1331.0| gray|31900|       30000|Jan 15 2015|         2015|           Jan|
|2015|Volvo|                S60|Sedan|   automatic|   ca|    Great| 14282.0|white|27500|       27750|Jan 29 2015|         2015|           Jan|
|2014|  BMW|6 Series Gran Coupe|Sedan|   automatic|   ca|    Great|  2641.0| gray|66000|       67000|Dec 18 2014|         2014|           Dec|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
only showing top 5 rows

Number of columns: 14
Number of Rows: 472336

root
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- odometer: double (nullable = true)
 |-- color: string (nullable = true)
 |-- mmr: integer (nullable = true)
 |-- sellingprice: integer (nullable = true)
 |-- saledate: string (nullable = true)
 |-- saledate_year: integer (nullable = true)
 |-- saledate_month: string (nullable = true)

## Look for outliers

In [18]:
# CREATE A TEMPORARY VIEW TO QUERY
df.createOrReplaceTempView("usedCars")

# LOOK FOR OUTLIERS
spark.sql('select * from usedCars where sellingPrice = 1').show() # two records where sellingPrice = 1: these should be removed

spark.sql('select * from usedCars where odometer = 999999.0').show()
spark.sql('select count(*) as records from usedCars where odometer = 999999.0').show() # sixty records where odometer = 999,999.0; these should be removed

spark.sql('select * from usedCars where mmr < 100 order by mmr').show() # mmr values are significantly lower than sale date, but looks reasonable

spark.sql('select avg(mmr) as avg_mmr, avg(sellingprice) as avg_sellprice from usedCars').show() # mmr is about $140 higher than sale price

+----+-------------+------------+------------+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|year|         make|       model|        body|transmission|state|condition|odometer|color|  mmr|sellingprice|   saledate|saledate_year|saledate_month|
+----+-------------+------------+------------+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|2003|Mercedes-Benz|     E-Class|       Sedan|   automatic|   ga|  Average|     1.0|black| 7325|           1|Jan 06 2015|         2015|           Jan|
|2014|         Ford|E-Series Van|E-Series Van|   automatic|   tx|    Great| 31886.0|white|20800|           1|Feb 12 2015|         2015|           Feb|
+----+-------------+------------+------------+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+

+----+---------+--------------+-------------+------------+-----+---------+--------+------+-----+------------+-----------+-------------+--------------+
|year|     make|         model|         body|transmission|state|condition|odometer| color|  mmr|sellingprice|   saledate|saledate_year|saledate_month|
+----+---------+--------------+-------------+------------+-----+---------+--------+------+-----+------------+-----------+-------------+--------------+
|2013|  Hyundai| Elantra Coupe|Elantra Coupe|   automatic|   ca|      Bad|999999.0|  blue| 8025|        2500|Jan 27 2015|         2015|           Jan|
|2003|Chevrolet|Silverado 1500| Extended Cab|   automatic|   ca|  Average|999999.0|  gray| 1425|         700|Dec 16 2014|         2014|           Dec|
|2009|    Dodge|       Charger|        Sedan|   automatic|   il|      Bad|999999.0| black| 3850|        1700|Dec 23 2014|         2014|           Dec|
|2009|    Dodge|       Charger|        Sedan|   automatic|   tx|      Bad|999999.0|  blue| 4150|        5500|Jan 08 2015|         2015|           Jan|
|2006|      Kia|        Amanti|        Sedan|   automatic|   ms|      Bad|999999.0|  gray|  900|         800|Dec 18 2014|         2014|           Dec|
|2012|   Nissan|        Altima|        Sedan|   automatic|   oh|      Bad|999999.0| white| 7375|         800|Jan 06 2015|         2015|           Jan|
|2009|    Dodge| Grand Caravan|      Minivan|   automatic|   md|      Bad|999999.0| black| 3325|        1500|Dec 23 2014|         2014|           Dec|
|2006|     Ford|         F-150|    SuperCrew|   automatic|   ga|      Bad|999999.0| black| 7500|        3600|Feb 17 2015|         2015|           Feb|
|2005|   Nissan|         Quest|      Minivan|   automatic|   il|      Bad|999999.0| green| 2250|        2600|Dec 30 2014|         2014|           Dec|
|2013|      Kia|        Optima|        Sedan|   automatic|   ca|      Bad|999999.0| black|17700|        2700|Jan 13 2015|         2015|           Jan|
|2010|Chevrolet|        Cobalt|        Sedan|   automatic|   ny|      Bad|999999.0|silver| 2850|         275|Dec 31 2014|         2014|           Dec|
|2008|Chevrolet|        Impala|        Sedan|   automatic|   md|      Bad|999999.0|  gray| 1850|        1100|Feb 17 2015|         2015|           Feb|
|2012|  Hyundai|        Sonata|        Sedan|   automatic|   oh|      Bad|999999.0| white| 9275|         800|Jan 06 2015|         2015|           Jan|
|2005|     Ford|        Escape|          SUV|   automatic|   ms|      Bad|999999.0|  gray|  850|        1300|Jan 08 2015|         2015|           Jan|
|2004|Chevrolet|         Tahoe|          SUV|   automatic|   ga|      Bad|999999.0| black|  875|        1800|Jan 06 2015|         2015|           Jan|
|2013|     Ford|        Escape|          SUV|   automatic|   fl|      Bad|999999.0|  gray|10750|        3000|Jan 12 2015|         2015|           Jan|
|2005|   Nissan|         Quest|      Minivan|   automatic|   md|  Average|999999.0| white| 1725|        1100|Jan 13 2015|         2015|           Jan|
|2005|    Volvo|           S40|        Sedan|   automatic|   il|      Bad|999999.0|  gray| 1200|         550|Jan 13 2015|         2015|           Jan|
|2014|    Dodge|       Journey|          SUV|   automatic|   tx|      Bad|999999.0| black|12800|        6000|Jan 21 2015|         2015|           Jan|
|2010|    Mazda|          CX-7|          SUV|   automatic|   tx|      Bad|999999.0|   red| 5600|        3200|Jan 15 2015|         2015|           Jan|
+----+---------+--------------+-------------+------------+-----+---------+--------+------+-----+------------+-----------+-------------+--------------+
only showing top 20 rows

+-------+
|records|
+-------+
|     60|
+-------+

+----+----------+---------------+------------+------------+-----+---------+--------+------+---+------------+-----------+-------------+--------------+
|year|      make|          model|        body|transmission|state|condition|odometer| color|mmr|sellingprice|   saledate|saledate_year|saledate_month|
+----+----------+---------------+------------+------------+-----+---------+--------+------+---+------------+-----------+-------------+--------------+
|1997|     Honda|         Accord|       Sedan|      manual|   fl|      Bad|353083.0| black| 25|         500|Dec 18 2014|         2014|           Dec|
|1997|      Ford|         Taurus|       Sedan|   automatic|   fl|  Average|286868.0|  gray| 25|         400|Jan 07 2015|         2015|           Jan|
|2002| Chevrolet|         Malibu|       Sedan|   automatic|   fl|      Bad|284296.0|   red| 25|         300|Jan 14 2015|         2015|           Jan|
|2001|       Kia|         Optima|       Sedan|   automatic|   ga|  Average|255003.0|  gray| 25|         700|Dec 30 2014|         2014|           Dec|
|2001|  Chrysler|        Sebring| Convertible|   automatic|   ca|      Bad|223707.0|  blue| 25|         300|Dec 30 2014|         2014|           Dec|
|2003|   Lincoln|       Town Car|       Sedan|   automatic|   fl|  Average|266564.0|   red| 25|        1800|Feb 03 2015|         2015|           Feb|
|2003| Chevrolet|        Venture|     Minivan|   automatic|   ga|      Bad|252396.0| white| 25|         600|Feb 17 2015|         2015|           Feb|
|2002|      Saab|            9-5|       Sedan|   automatic|   fl|  Average|171964.0|silver| 25|         800|May 21 2015|         2015|           May|
|2000|    Nissan|         Maxima|       Sedan|   automatic|   fl|      Bad|229381.0| black| 25|         300|May 21 2015|         2015|           May|
|2001| Chevrolet|           S-10|extended cab|   automatic|   nm|      Bad|263535.0| white| 25|         900|Jun 10 2015|         2015|           Jun|
|1996|Oldsmobile|Cutlass Supreme|       sedan|   automatic|   oh|      Bad|267734.0| white| 25|         325|Jun 16 2015|         2015|           Jun|
|2000|  Chrysler|            LHS|       Sedan|   automatic|   nc|      Bad|223937.0|  blue| 25|         650|Jan 14 2015|         2015|           Jan|
|1999|     Dodge|        Durango|         SUV|   automatic|   la|      Bad|301645.0|  blue| 25|         300|Jan 21 2015|         2015|           Jan|
|2003|     Buick|          Regal|       Sedan|   automatic|   va|  Average|258557.0| black| 25|         400|Dec 18 2014|         2014|           Dec|
|1997|    Nissan|         Maxima|       Sedan|   automatic|   fl|      Bad|220607.0| black| 25|         300|Jan 27 2015|         2015|           Jan|
|2003|    Saturn|            VUE|         SUV|   automatic|   ga|  Average|694978.0|silver| 25|         500|Jan 08 2015|         2015|           Jan|
|2004| Chevrolet|       Cavalier|       Coupe|   automatic|   nc|      Bad|227889.0|orange| 50|         550|Jan 28 2015|         2015|           Jan|
|2005|   Hyundai|         Sonata|       Sedan|   automatic|   fl|  Average|201112.0|silver| 50|        2000|Jan 13 2015|         2015|           Jan|
|2002|     Dodge|        Durango|         SUV|   automatic|   nj|      Bad|220355.0|   red| 50|         700|Feb 18 2015|         2015|           Feb|
|2001|  Chrysler|        Sebring| Convertible|   automatic|   md|  Average|194983.0| white| 50|         400|Feb 10 2015|         2015|           Feb|
+----+----------+---------------+------------+------------+-----+---------+--------+------+---+------------+-----------+-------------+--------------+
only showing top 20 rows

+------------------+------------------+
|           avg_mmr|     avg_sellprice|
+------------------+------------------+
|13836.999773466347|13690.403670268623|
+------------------+------------------+

## Edit load_data() to remove outliers

In [27]:
def load_data():
    '''
    car_prices.csv is uploaded to a google bucket for public use. Since file is too large to push to GitHub for others to use from repo
    this function will load the data from the google bucket.
    
    You can run this function each time and it will not download a new dataset each time since the first time you run it, it will download locally to your directory.
    --- unless you delete it each time
    
    Function will check to make sure file is in the directory
    - if it is, load it to a spark dataframe
    - if it is not, download it, then load it to a spark dataframe
    
    SCHEMA:
    - Created a schema to make sure the data types for the file being read is kept
    
    
    Drop Randome Values in state columns
    
    
    WARNING: TO USE THIS FUNCTION, YOU HAVE TO BE RUNNING JUPYTER NOTEBOOK ON A LINUX SERVER (USE DOCKER)
    
    NOTES:
    option("header",True).option("inferSchema", True)
    '''
    
    # CHECKS TO SEE IF FILE EXIST
    path = Path('car_prices.csv') 
    
    # IF FILE DOES NOT EXIST
    if not path.is_file():
        !wget https://storage.googleapis.com/iamangelsh-public-datasets/car_prices.csv 
    
    
    
    # CREATE SCHEMA TO KEEP DATA TYPES
    schema = tp.StructType([tp.StructField('year', tp.IntegerType(), True),
                           tp.StructField('make', tp.StringType(), True),
                           tp.StructField('model', tp.StringType(), True),
                           tp.StructField('trim', tp.StringType(), True),
                           tp.StructField('body', tp.StringType(), True),
                           tp.StructField('transmission', tp.StringType(), True),
                           tp.StructField('vin', tp.StringType(), True),
                           tp.StructField('state', tp.StringType(), True),
                           tp.StructField('condition', tp.DoubleType(), True),
                           tp.StructField('odometer', tp.DoubleType(), True),
                           tp.StructField('color', tp.StringType(), True),
                           tp.StructField('interior', tp.StringType(), True),
                           tp.StructField('seller', tp.StringType(), True),
                           tp.StructField('mmr', tp.IntegerType(), True),
                           tp.StructField('sellingprice', tp.IntegerType(), True),
                           tp.StructField('saledate', tp.StringType(), True)])
    
    
    # LOAD IN DATA WITH SCHEMA
    df = spark.read.csv("car_prices.csv", header = True, sep=",", schema=schema)
    
    # FILTER OUT VIN NUMBERS FROM STATE COLUMN
    df = df.where(F.length(F.col("state")) <= 2)
    
    # FILTER OUT SELLINGPRICE = 1 AND ODOMETER = 999999.0
    df = df.where(F.col("sellingprice") != 1)
    df = df.where(F.col("odometer") != 999999.0)
    
    # DROP ROWS THAT CONTAIN NULL VALUES
    df = df.na.drop('any')
    
    # CREATE THRESHOLD FOR CONDITION COLUMN
    df = df.withColumn(
        'condition', 
        F.when(df.condition > 3.75, 'Great'
        ).when((df.condition >= 2) & (df.condition <= 3.75), 'Average'
        ).when(df.condition < 2, 'Bad'))
    
    # DROP COLUMNS THAT WON'T BE USED
    cols = ('trim', 'vin', 'interior', 'seller')
    df = df.drop(*cols)
    
    
    # USE MM DD YYYY FOR SALEDATE COLUMN
    df = df.withColumn(
        'saledate', F.substring('saledate', 5,11)
        ).withColumn(
        'saledate_year', F.substring('saledate', 7,5)
        ).withColumn(
        'saledate_month', F.substring('saledate', 1,3))
    
    df = df.withColumn(
        'saledate_year', F.col('saledate_year').cast(tp.IntegerType())
        )
    
    # RETURN NEW DATAFRAME
    return df


# LOAD THE DATA
df = load_data()

# SHOW DATA
df.show(5)

# SHOW NUMBER OF COLUMNS AND ROWS
print(f'Number of columns: {len(df.columns)} \nNumber of Rows: {df.count()}')
print()

# SHOW SCHEMA - DATATYPES
df.printSchema()

+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|year| make|              model| body|transmission|state|condition|odometer|color|  mmr|sellingprice|   saledate|saledate_year|saledate_month|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great| 16639.0|white|20500|       21500|Dec 16 2014|         2014|           Dec|
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great|  9393.0|white|20800|       21500|Dec 16 2014|         2014|           Dec|
|2014|  BMW|           3 Series|Sedan|   automatic|   ca|    Great|  1331.0| gray|31900|       30000|Jan 15 2015|         2015|           Jan|
|2015|Volvo|                S60|Sedan|   automatic|   ca|    Great| 14282.0|white|27500|       27750|Jan 29 2015|         2015|           Jan|
|2014|  BMW|6 Series Gran Coupe|Sedan|   automatic|   ca|    Great|  2641.0| gray|66000|       67000|Dec 18 2014|         2014|           Dec|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+
only showing top 5 rows

Number of columns: 14
Number of Rows: 472274

root
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- odometer: double (nullable = true)
 |-- color: string (nullable = true)
 |-- mmr: integer (nullable = true)
 |-- sellingprice: integer (nullable = true)
 |-- saledate: string (nullable = true)
 |-- saledate_year: integer (nullable = true)
 |-- saledate_month: string (nullable = true)

## Scale the Continuous Variables

In [28]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

# UDF for converting column type from vector to double type
unlist = udf(lambda x: round(float(list(x)[0]),3), DoubleType())

# Iterating over columns to be scaled
for i in ["year", "odometer", "sellingprice"]:
    # VectorAssembler Transformation - Converting column to vector type
    assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

    # MinMaxScaler Transformation
    scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

    # Pipeline of VectorAssembler and MinMaxScaler
    pipeline = Pipeline(stages=[assembler, scaler])

    # Fitting pipeline on dataframe
    df = pipeline.fit(df).transform(df).withColumn(i+"_Scaled", unlist(i+"_Scaled")).drop(i+"_Vect")

print("Scaled Dataframe:")
df.show(5)

Scaled Dataframe:
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+-----------+---------------+-------------------+
|year| make|              model| body|transmission|state|condition|odometer|color|  mmr|sellingprice|   saledate|saledate_year|saledate_month|year_Scaled|odometer_Scaled|sellingprice_Scaled|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+-----------+---------------+-------------------+
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great| 16639.0|white|20500|       21500|Dec 16 2014|         2014|           Dec|        1.0|          0.017|              0.093|
|2015|  Kia|            Sorento|  SUV|   automatic|   ca|    Great|  9393.0|white|20800|       21500|Dec 16 2014|         2014|           Dec|        1.0|           0.01|              0.093|
|2014|  BMW|           3 Series|Sedan|   automatic|   ca|    Great|  1331.0| gray|31900|       30000|Jan 15 2015|         2015|           Jan|       0.96|          0.001|               0.13|
|2015|Volvo|                S60|Sedan|   automatic|   ca|    Great| 14282.0|white|27500|       27750|Jan 29 2015|         2015|           Jan|        1.0|          0.015|               0.12|
|2014|  BMW|6 Series Gran Coupe|Sedan|   automatic|   ca|    Great|  2641.0| gray|66000|       67000|Dec 18 2014|         2014|           Dec|       0.96|          0.003|              0.291|
+----+-----+-------------------+-----+------------+-----+---------+--------+-----+-----+------------+-----------+-------------+--------------+-----------+---------------+-------------------+
only showing top 5 rows

## Look for possible clusters

In [22]:
# CREATE A TEMPORARY VIEW TO QUERY
df.createOrReplaceTempView("usedCars")

spark.sql('select make, avg(sellingprice) as avg_price from usedCars group by make order by avg_price desc').show()

spark.sql('select make, model, avg(sellingprice) as avg_price from usedCars group by make, model order by avg_price desc').show() # make-model looks promising, maybe quartiles?

+-------------+------------------+
|         make|         avg_price|
+-------------+------------------+
|  Rolls-Royce|         153456.25|
|      Ferrari|128852.94117647059|
|  Lamborghini|          111500.0|
|      Bentley| 72713.33333333333|
|        Tesla| 67054.34782608696|
| Aston Martin|           55500.0|
|       Fisker| 46461.11111111111|
|     Maserati| 43729.81651376147|
|        Lotus|           40800.0|
|      Porsche|38932.109766637856|
|   Land Rover| 33225.28744326778|
|          Ram|25257.458209693374|
|Mercedes-Benz|21314.872215876643|
|          BMW| 21290.04386315609|
|     Infiniti| 20562.79630290486|
|        Lexus|20284.201652416177|
|         Audi|20010.167638483967|
|       Jaguar|19429.853619729514|
|      Lincoln| 17547.19143321153|
|          GMC| 16769.46783118151|
+-------------+------------------+
only showing top 20 rows

+-------------+--------------------+------------------+
|         make|               model|         avg_price|
+-------------+--------------------+------------------+
|      Ferrari|          458 Italia|          183000.0|
|Mercedes-Benz|          SLS AMG GT|          156500.0|
|          BMW|                  i8|154222.22222222222|
|  Rolls-Royce|               Ghost|         153456.25|
|      Ferrari|          California|131846.15384615384|
|Mercedes-Benz|             SLS AMG|116016.66666666667|
|  Lamborghini|            Gallardo|          111500.0|
|      Bentley|Continental GTC S...|          111000.0|
|      Ferrari|                F430|          106250.0|
|      Bentley|Continental Flyin...|          105750.0|
|         Audi|                RS 7|          102225.0|
|      Bentley|Continental Super...|          101000.0|
| Aston Martin|              Rapide|           98750.0|
|         Audi|                  R8|        91117.1875|
|          BMW|       M6 Gran Coupe| 90913.63636363637|
|      Bentley|     Continental GTC|           89560.0|
|      Ferrari|                 360|           81000.0|
|Mercedes-Benz|             G-Class| 80543.85964912281|
|      Bentley|Continental GT Speed|           79750.0|
|     Maserati|GranTurismo Conve...| 75090.90909090909|
+-------------+--------------------+------------------+
only showing top 20 rows